# Emacs cache directories
emacs.d/auto-save-list/
emacs.d/ac-comphist.dat
emacs.d/session*
emacs.d/emms/cache
emacs.d/semanticdb
/emacs.d/url/cookies
emacs.d/elpa
emacs.d/daily-startup/*

# We never want to publish ~/.secret
secret
.secret
/#emacs#

# Emacs
*~

/emacs.d/history
/emacs.d/emms/emms-lastfm-client-sessionkey
/emacs.d/emms/scores
/emacs.d/bookmarks
